bin/
obj/

.vs/

*.user
*.userosscache
*.sln.docstates

packages/
*.nuget.props
*.nuget.targets

*.log
*.cache
*.tmp
*.bak
*.swp
*.[Cc]ache
*.[Pp]ac[Kk]age
*.[Pp]ublish.xml

*.coverage
*.coveragexml
_Chutzpah*
_stylecop_*